<div class=" flex items-center justify-center w-full h-[68px]  bg-gradient-to-b from-yellow-600 via-orange-400 to-orange-500">
  <h1 class="text-white text-[29px] font-semibold">SLACA 2019</h1>
</div>

<div class="flex items-center justify-center">
  <img src="assets/slaca13.png" class="w-full max-w-[220px]">      
</div>
<div>
    <div>
      <ul class="pt-6 text-[16px]">
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
            <a href="#" class="  inline-block border-l-4 w-full pb-[6px] border-transparent hover:text-gray-600 hover:border-orange-500">
              <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Apresentação</p>
            </a>              
        </li>
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
          <a href="#" class="  inline-block border-l-4 w-full py-[5px] border-transparent hover:text-gray-600 hover:border-orange-500">
            <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Comitês</p>
          </a>              
        </li>
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
          <a href="#" class="  inline-block border-l-4 w-full py-[5px] border-transparent hover:text-gray-600 hover:border-orange-500">
            <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Autores</p>
          </a>              
        </li>
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
          <a href="#" class="  inline-block border-l-4 w-full py-[5px] border-transparent hover:text-gray-600 hover:border-orange-500">
            <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Eixos temáticos</p>
          </a>              
        </li>
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
          <a href="#" class="  inline-block border-l-4 w-full py-[5px] border-transparent hover:text-gray-600 hover:border-orange-500">
            <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Trabalhos</p>
          </a>              
        </li>
        <li class="flex border-b-[1px] border-gray-500 border-opacity-25 hover:bg-[#fdf1eb]">
          <a href="#" class="  inline-block border-l-4 w-full py-[5px] border-transparent hover:text-gray-600 hover:border-orange-500">
            <p class="hover:translate-x-2 hover:transition px-6 text-amber-950">Contato</p>
          </a>              
        </li>   
      </ul>
    </div>
  </div>
