<div class="flex">
  <div class="w-0 lg:w-[16.5%] lg:min-w-[200px] bg-white lg:border-r-[1px] border-gray-500 border-opacity-20 shadow-gray-400 shadow-lg h-screen md:fixed top-0 left-0 overflow-y-auto md:z-50">    
    <app-sidebar></app-sidebar>
  </div>
  <div class="lg:ml-[16.5%]">
    <div class="lg:hidden">
      <app-topbar-mobile></app-topbar-mobile>
    </div>
    <div class="px-10 bg-[#fdf1eb] mt-14 lg:mt-0">
      <app-topbar></app-topbar>
    </div>    
    <div class="md:px-10 px-4">
      <app-hero-top></app-hero-top>
    </div>
    <div class="md:px-10 px-4 pt-5">
      <app-hero-md></app-hero-md>
    </div>
    <div class="md:px-10 px-4 pt-5">
      <app-hero-bottom></app-hero-bottom>
    </div> 
    <div class="md:px-6 px-4 pt-5 pb-14">
      <app-footer></app-footer>
    </div>  
  </div>  
</div>