<div>
    <div class="grid justify-items-center pt-3">
        <p class="font-semibold text-[18px] text-orange-500 pb-2">Seu tópico foi enviado com sucesso! :D</p>
        <p class="w-4/5 text-[14.5px] font-thin text-center pb-6">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
        <p class="w-4/5 text-[14.5px] underline text-center text-orange-500 pb-10">Descubra outros trabalhos!</p>
    </div>
    <div class="flex items-center justify-center pb-3">
        <hr class="w-[40%]"><button (click)="chamarCriarTopico()" class=" btn-create-topic bg-gradient-to-b from-yellow-500 to-orange-600 rounded-sm
        text-white py-1 w-56 shadow-gray-400 shadow-md">criar novo tópico</button><hr class="w-[40%]">
    </div>
    <div class="px-4">
        <div class=" border-gray-300 border-[1px] bg-gray-300 bg-opacity-30 w-full rounded-sm py-4 grid justify-items-center shadow-gray-300 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 fill-gray-700" viewBox="0 0 512 512"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M464 128L240 384l-96-96M144 384l-96-96M368 128L232 284"/></svg>
            <p class="text-gray-600 font-medium py-2">Aguardando feedback dos autores</p>
            <button class="w-4/5 text-[14.5px] underline text-center text-orange-500 pb-4">Editar topico</button>
        </div>
    </div>
</div>
