<div>
    <div class="grid justify-items-center pt-3">
        <p class="font-semibold md:text-[18px] text-center text-orange-500 pb-2 px-4">Compartilhe suas ideias ou dúvidas com os autores!</p>
        <img src="../assets/qa.png">
        <p class="w-3/5 text-[15px] font-thin text-center pb-4">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
    </div>
    <div class="flex items-center justify-center pb-3">
        <hr class="w-[40%]"><button (click)="chamarMostrarForm()" class="btn-create-topic bg-gradient-to-b from-yellow-500 to-orange-600 rounded-sm text-white py-1 px-3 shadow-gray-400 shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 font inline-block items-center" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
        criar tópico</button><hr class="w-[40%]">
    </div>            
</div>
