<div>
    <div class="md:flex grid justify-items-center">
        <div class="md:w-[80%] md:me-10">
            <h2 class="md:text-xl md:text-left text-center font-bold tracking-wide py-6 text-orange-500">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
        </div>
        <div class="md:w-[20%] md:mt-7">
            <div class="flex justify-end gap-2">
                <button class="text-white fill-white flex items-center justify-center px-2 py-1 bg-orange-500 hover:bg-orange-700 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-4" viewBox="0 0 512 512"><path d="M472.7 189.5c-13.26-8.43-29.83-14.56-48.08-17.93A16 16 0 01412 159.28c-7.86-34.51-24.6-64.13-49.15-86.58C334.15 46.45 296.21 32 256 32c-35.35 0-68 11.08-94.37 32a150.13 150.13 0 00-41.95 52.83A16.05 16.05 0 01108 125.8c-27.13 4.9-50.53 14.68-68.41 28.7C13.7 174.83 0 203.56 0 237.6 0 305 55.93 352 136 352h104V224.45c0-8.61 6.62-16 15.23-16.43A16 16 0 01272 224v128h124c72.64 0 116-34.24 116-91.6 0-30.05-13.59-54.57-39.3-70.9zM240 425.42l-36.7-36.64a16 16 0 00-22.6 22.65l64 63.89a16 16 0 0022.6 0l64-63.89a16 16 0 00-22.6-22.65L272 425.42V352h-32z"/></svg>
                    <p class="text-md px-1.5">Download</p>
                </button>
                <button class="text-white fill-white flex items-center justify-center px-3 py-1 bg-orange-500 hover:bg-orange-700 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-white h-4" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>                
                </button>
                <button class="text-white fill-white flex items-center justify-center px-2 py-1 bg-orange-500 hover:bg-orange-700 rounded-md">
                    <div class="bg-white text-orange-500 text-xs rounded-full p-0.5 font-extrabold"> doi</div>
                </button>            
            </div>
            <div class="flex justify-end">
                <p class="text-orange-500 text-sm  tracking-wide py-3">COMO CITAR ESSE TRABALHO?</p>
            </div>
        </div>
    </div>

    <div class="md:flex md:items-center grid justify-items-center">
        <div class="md:w-[76%] md:me-8">            
            <video class="w-full rounded-md pb-4 md:pb-0" controls>
                <source src="../assets/video.mp4" type="video/mp4">                   
            </video>
        </div>
        <div class="md:w-[24%]">  
            <div class="border-[1px] border-gray-500 border-opacity-25">
                <div class="border-b-[1px] border-gray-500 border-opacity-25 bg-[#fdf1eb] ">
                    <p class="px-4 text-xl font-medium text-gray-600 py-2">Detalhes</p>
                </div>
                <div class="px-4 py-3">
                    <p class="font-thin text-[13px] pb-0.5 ">Tipo de Apresentação: <span class="font-medium">Pôster</span></p>
                    <p class="font-thin text-[13px] pb-0.5 ">Eixo temático: <span class="font-medium">Alimentação e saúde (AS)</span></p>
                    <p class="font-thin text-[13px] pb-0.5 ">Palavras-chave: <span class="font-medium">Alimentos funcionais, alimentação escolar</span></p>
                    
                    <p class="text-[15px] pt-2 pb-0.5 font-medium">Autores:</p>
                    <p class="text-[15px]  font-thin">Galileo Galilei<span class="text-[8px] align-top">1</span></p>
                    <p class="text-[15px]  font-thin">Berta Lange de Morretes<span class="text-[8px] align-top">2</span></p>
                    <p class="text-[15px] font-thin">Isaac Newton<span class="text-[8px] align-top">3</span></p>
                    <p class="text-[15px] font-thin">Cesar Lattes<span class="text-[8px] align-top">4</span></p>
                    <p class="text-[15px] font-thin">Stephen Hawking<span class="text-[8px] align-top">5</span></p>
                    <div class="text-[12.5px] font-thin pt-6 tracking-wide">
                        <p><span class="text-[6px] align-top">1</span>Universidade estadual de Campinas</p>
                        <p><span class="text-[6px] align-top">2</span>Universidade de São Paulo</p>
                        <p><span class="text-[6px] align-top">3</span>Instituto Nacional de Pesquisas Espaciais</p>
                        <p><span class="text-[6px] align-top">4</span>Universidade Federal do Rio de Janeiro</p>
                    </div>        
                </div>
            </div>
        </div>

    </div>

    
</div>

